*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 40px;
}
.container{
    margin: 20px;
    padding: 100px;
    border-radius: 20px;
    background-color: #f4f0d9;
}
h1{
    display: flex;
    justify-content: center;
}
.reset_btn{
    display: flex;
    justify-content: center;
}
button{
    width:100px;
    height: 25px;
    background-color: #00ced1;
    border-color: #00ced1;
    border-radius: 5px;
}