*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}